html, body, * {
  margin: 0;
  padding: 0;
}

.App {
  width: 60%;
  margin: 0 auto;
}

.contact-list {
  text-align: center;
  list-style-type: square;
  width: 60px;
  margin: 0 auto;
}

.contact-form {
  width: 300px;
  margin: 0 auto;
}

.contact-form .form-submit-button {
  margin-top: 1rem;
}


.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.main-wrapper {
  text-align: center;
  /* margin: 20px 0; */
}

.main-wrapper .add-new-button {
  /* margin: 20px auto; */
  margin-top: 30px;
}
